@use "../../style/general/general.scss" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.generalContainer {
  @media (max-width: var.$layout-breakpoint-small) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
